html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color:#D8E2EE;
    color: #181719;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
nav {
    padding: 1em 0;
    margin-bottom: 2em;

}
a,
a:hover,
a:focus {
    text-decoration: none;
    color:#181719;
}
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li a:hover,
li a:focus {
    opacity: .5;
}
.active {
    font-weight: 700;
    color:  #ffffff;
}
.container {
    margin: 0 auto;
    max-width: 90%;
}
.bg-section {
    width: 100%;
    background: url(./img/bg.webp);
    background-size: cover;
    min-height: 40vh;
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.btn,
.btn:hover,
.btn:focus {
    padding: 1rem 2rem;
    color: #ffffff;
    font-weight: 700;
    border: 2px solid black;
    border-radius: 50px;
    
}
.heart {
    color: #c51104;
}
.btn:hover,
.btn:focus{
    box-shadow: 10px 10px 25px #00d2c6, 
            -15px -15px 30px #00ffff;
    
}
.bg-section h1 {
    color: #ffffff;
    font-weight: 400;

}
.hero-section {
    min-height: 90vh;
    display: flex;
    flex-direction: row;
}
.level {
    min-width: 50%;

}
img {
    border-radius: 50px;
    object-fit: cover;
    
}
.bg {
  display: flex;
  flex-direction: column;
}
.front {
    background-color: #ADBACB;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.back {
    background-color: #6B7688;
    color: #d9d9d9;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}