html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(230, 137, 17);
    color: black;
}
section {
    padding: 0 25px;
}
 p {
    color: blue;
}

.box {
    
    border: 2px solid;
    background-color: paleturquoise;
    
}
.font {
    font-family: 'Black Han Sans', arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    font: italic bold 40px 'Black Han Sans', arial, sans-serif;
}
#classes {
    color: slateblue;
    
}

.box2 {
    border: 2px solid;
    background-color: plum;
}
#Nom {

    color: red;

}
#contact {

    color: blue;

}

.test {
    
    display: inline-block;
  }

  